@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 20px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #ffb300;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #ff0000;
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }
}

.contacts-icon-wrapper {
  cursor: pointer;
  border-radius: 50%;
  display: ;
}

.contacts-icon-wrapper:hover > svg {
  transform: translateY(-5px);
}

.fb-icon-wrapper:hover > svg {
  background-color: #1877F2;
}

.ins-icon-wrapper:hover > svg {
  background-color: #d62976;
}

.x-icon-wrapper:hover > svg {
  background-color: #000000;
}

.li-icon-wrapper:hover > svg {
  background-color: #0077B5;
}

.mail-icon-wrapper:hover > svg {
  background-color: #c71610;
}

